*{
  box-sizing: border-box;
}
body{
  text-align: center;
  background-color: lightcyan;
  padding:10px;
}
header{
  font-size: larger;
  font-weight: 900;
}
.App{
  margin:auto;
  background-color: lightgoldenrodyellow;
  border-radius: 12px;
  width:95%;
  border: dashed 1px;
}
.items{
  width: 100%;
  max-height: 300px;
  background-color: lightgreen;
  padding: 10px;
  overflow-y: auto;
}
.item{
  display: flex;
  justify-content: space-between;
  padding:4px;
}
button{
  border: none;
  font-weight: 900;
  background-color: lightsalmon;
  transition: all 300ms;
  cursor: pointer;
  outline: none;
}
button:hover{
  transform: scale(0.8);
  background-color: red;
  color: white;
}
button:active{
  transform: scale(1.2);
  background-color: yellow;
}
input{
  width: 100%;
  font-size: larger;
  padding: 3px;
  outline: none;
}
.btnadd{
  margin:5px 0 5px 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}